@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary--color--: #e6e6ff;
  --secondary--color: #fff;
  --spacing--small: 8px;
  --spacing--medium: 12px;
  --shadow--small: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100dvh;
  width: 100%;
  line-height: 120%;
  background-color: var(--primary--color--);
}

#app {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  /* background-color: var(--primary--color--); */
}
/* ----------------------------------- HEADER ----------------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  font-size: 2rem;
  background-color: var(--secondary--color);
  box-shadow: var(--shadow--small);
}

.header__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header svg,
header img {
  width: 3rem;
  height: 3rem;
}

.country__app img {
  fill: #272727;
}

.country__app,
.brightness {
  display: flex;
  gap: var(--spacing--small);
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
/* ----------------------------------- MAIN ----------------------------------------------------------- */
main {
  height: 100dvh;
}

.search__bar__container {
  /* border: 1px solid black; */
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__bar {
  display: flex;
  align-items: center;
  border-radius: 1.6rem;
  gap: var(--spacing--small);
  background-color: var(--secondary--color);
  /* padding: 1rem; */
  height: 5rem;
  width: 45%;
  box-shadow: var(--shadow--small);
  position: relative;
}

.search__bar input {
  width: 100%;
  height: 100%;
  background-color: var(--secondary--color--);
  padding-left: 4.5rem;
  border: none;
  font-size: 1.6rem;
  border-radius: 1.6rem;
}

.search__bar input:focus {
  outline-color: var(--primary--color--);
}

.search__bar svg {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 1%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--secondary--color--);
  fill: var(--primary--color--); */
}

.continents__select {
  background-color: var(--secondary--color);
  border-radius: 1.6rem;
  box-shadow: var(--shadow--small);
  padding: 0.5rem 1rem;
}

.country__region {
  width: 100%;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  border: none;
  padding: 2rem;
}

.country__region option {
  /* padding: 1rem;
  color: red;
  background-color: red; */
}

.country__region:focus {
  outline: none;
}

.country__region option:checked {
  box-shadow: 0 0 10px 100px #1882A8 inset;
}

/* ---------------------------- COUNTRIES ----------------------- */

.country__list {
  padding: 1rem;
  list-style: none;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing--medium);
  background-color: var(--primary--color--);
}

.country__list__item {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary--color);
  box-shadow: var(--shadow--small);
  gap: 2.5rem;
  font-size: 1.3rem;
  border-radius: 1.6rem;
  cursor: pointer;
}

.country__list__item img {
  /* width: 20rem;
  height: 11rem; */

  max-width: 23rem;
  max-height: 9.5rem;
  width: auto;
  height: auto;

  box-shadow:  rgba(149, 157, 165, 1) 0px 8px 24px;

}

.country__list__item h2 {
  text-align: center;
  line-height: 120%;
}
