:root {
  --primary--color--: #e6e6ff;
  --secondary--color: #fff;
  --spacing--small: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif !important ;
  min-height: 100dvh;
  line-height: 120%;
}

#app {
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}
/* ----------------------------------- HEADER ----------------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 15em;
  margin: 0 auto;
  font-size: 2rem;
  background-color: var(--secondary--color);
  border-bottom: 1px solid var(--primary--color--);
}

header svg,
header img {
  width: 3rem;
  height: 3rem;
}

.country__app img {
  fill: #272727;
}

.country__app,
.brightness {
  display: flex;
  gap: var(--spacing--small);
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
/* ----------------------------------- MAIN ----------------------------------------------------------- */
main {
}

.search__bar__container {
  width: 70%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.search__bar {
  border: 1px solid black;
  padding: 2rem 3rem;
}

.search__bar svg {
  width: 3rem;
  height: 3rem;
}
