@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary--color--: #e6e6ff;
  --secondary--color: #fff;
  --spacing--small: 8px;
  --spacing--medium: 12px;
  --shadow--small: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------- COUNTRIES ----------------------- */

.country__list__item {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary--color);
  box-shadow: var(--shadow--small);
  gap: 2.5rem;
  font-size: 1.3rem;
  border-radius: 1.6rem;
  cursor: pointer;
  transition: ease-out 500ms;
}

.country__list__item img {
  max-width: 20rem;
  max-height: 10rem;
  box-shadow: rgba(149, 157, 165, 1) 0px 8px 24px;
  transition: ease-out 500ms;
}
.country__list__item h2 {
  text-align: center;
  line-height: 120%;
}

.listBtn {
  cursor: pointer;
  background-color: var(--secondary--color);
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
}

.clickedLight {
  background-color: #e6e6ff;
  color: #000;
}

.clickedDark {
  background-color: #1f2937;
  color: #fff;
}

.container__information {
  /* border: 1px solid black; */
  margin: 0 auto;
  width: 50%;
}

.return__information {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 0 2rem;
}

.return__information__children{
  padding: 1rem;
  display: flex;
  font-size: 1.4rem;
  gap: 8px;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--secondary--color);
}



.main__information {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  /* margin: 0 auto; */
}

.main__information img {
  width: 330px;
  height: 250px;
  border-radius: 1rem;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.1rem 1rem;
}
